body {
font-family: Arial, sans-serif;
background-color: #f5f5f5;
margin: 0;
padding: 0;
}

.container {
max-width: 1200px;
margin: 0 auto;
padding: 20px;
background-color: white;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
margin-top: 100px;
}

.tabs {
display: flex;
justify-content: space-around;
background-color: #66cdaa;
border-radius: 5px;
}

.dropdown {
position: relative;
}

button {
background-color: #66cdaa;
color: black;
border: none;
padding: 25px 40px;
text-align: center;
display: inline-block;
font-size: 29px; /* Увеличить размер шрифта кнопок */
cursor: pointer;
opacity: 0.8;
border-radius: 5px;
font-weight: bold;
}

button:hover {
opacity: 1;
background-color: #009a63;
}

.dropdown-content {
display: none;
position: absolute;
background-color: rgba(102, 205, 170, 0.8);
min-width: 330px;
box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
z-index: 1;
border-radius: 5px;
animation-name: dropdownAnimation;
animation-duration: 0.6s;
animation-fill-mode: forwards;
display: none;
}

.dropdown:hover .dropdown-content {
display: block;
}

@keyframes dropdownAnimation {
0% {
opacity: 0;
transform: translateY(-10px);
}

100% {
opacity: 1;
transform: translateY(0);
}
}

.contacts {
background-color: #66cdaa;
color: black;
width: 100%;
bottom: 0;
left: 0;
border-top: 10px solid rgba(255, 255, 255, 0.5);
display: flex;
justify-content: space-around;
text-align: center;
position: fixed;
}

.contact-info {
margin-top: 20px;
padding: 10px;
display: inline-block;
font-size: 1rem;
white-space: nowrap;
}

.divider {
display: inline-block;
height: 100%;
width: 1px;
background-color: rgba(255, 255, 255, 0.5);
margin: 0 5px;
}

.office-info {
background-color: #66cdda;
color: black;
padding: 20px;
margin: 20px 0;
border-radius: 10px;
display: inline-block;
text-align: center;
font-size: 1.5rem;
}

.logo {
position: absolute;
top: 0;
left: 50%;
transform: translate(-50%, 0);
width: 300px;
height: 100px

}

.logo:hover {
cursor: pointer;
}

.area {
display: flex;
justify-content: space-around;
margin-top: 20px;
}

.area-item {
width: 250px;
height: 250px;
background-color: #f5f5f5;
border: 1px solid #ccc;
border-radius: 10px;
padding: 20px;
cursor: pointer;
position: relative;
}

.area-item:hover {
background-color: #e5e5e5;
}

.area-item img {
width: 100%;
height: 100%;
object-fit: cover;
}

.area-item-text {
text-align: center;
margin-top: 10px;
background-color: rgba(255, 255, 255, 0.8);
padding: 10px;
position: absolute;
bottom: 0;
left: 0;
width: 100%;
}

.area-item-text h3 {
font-size: 22px;
margin-bottom: 5px;
}

.area-item-text p {
font-size: 16px;
}

.projects img {
max-width: 90%;
height: auto;
margin: 10px auto;
border: 1px solid black;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
transition: all 0.3s ease-in-out;
}

.projects img:hover {
transform: scale(1.1);
}

.projects {
display: flex;
justify-content: center;
align-items: center;
}

.center-column {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.kommuni {
width: 100%;
height: 300px;
background-image: url(com.jpg);
background-size: cover;
background-position: center;
margin: 20px 0;
}

.map-container {
width: 100%;
height: 500px;
margin: 20px 0;
}

iframe {
width: 100%;
height: 100%;
}

.vacancies {
margin-top: 20px;
}

.vacancy {
background-color: #e6e6e6;
padding: 40px;
margin-bottom: 30px;
position: relative;
}

.vacancy-title {
display: flex;
justify-content: space-between;
align-items: center;
font-size: 27px;
font-weight: bold;
margin-bottom: 10px;
}

.vacancy-description {
margin-top: 10px;
}

.vacancy-button {
position: absolute;
bottom: 12px;
right: 20px;
background-color: #009a63;
color: white;
padding: 21px 13px;
border-radius: 5px;
cursor: pointer;
font-size: 24px;
}

.salary {
font-size: 1.2rem;
color: #186318;
}

h1 {
font-size: 42px;
text-align: center;
margin-bottom: 20px;
}

h2 {
font-size: 35px;
margin-bottom: 10px;
}

h3 {
font-size: 34px;
margin-bottom: 5px;
text-align: center;
margin: 0 auto;
}

p {
font-size: 28px;
}

a {
color: #009a63;
text-decoration: none;
}

a:hover {
text-decoration: underline;
}

.button {
background-color: #009a63;
color: white;
padding: 15px 25px;
border-radius: 5px;
cursor: pointer;
}

.button:hover {
background-color: #007a53;
}

.footer {
background-color: #66cdaa;
color: white;
padding: 20px;
text-align: center;
margin-top: 20px;
}

@media screen and (max-width: 768px) {
.container {
max-width: 100%;
padding: 20px;
}

.tabs {
display: flex;
flex-direction: column;
}

.dropdown {
position: relative;
display: flex;
flex-direction: column;
}

.dropdown-content {
position: absolute;
top: 100%;
left: 0;
width: 100%;
}

.area {
display: flex;
flex-direction: column;
}

.projects {
display: flex;
flex-direction: column;
}

.center-column {
display: flex;
flex-direction: column;
}
}

.empty-space {
height: 74px;
}
